#piece-a {
	width: 574px;
}

#piece-b {
	width: 131px;
}

#piece-c {
	width: 384px;
}

#piece-d {
	width: 117px;
}

#piece-e {
	width: 310px;
}

#piece-f {
	width: 380px;
}

#a {
	width: 574px;
	height: 179px;
}

#b {
	width: 150px;
	height: 112px;
}

#c {
	width: 300px;
	height: 112px;
}

#d {
	width: 124px;
	height: 112px;
}

#e {
	width: 250px;
	height: 173px;
}

#f {
	width: 324px;
	height: 173px;
}