#piece-a {
	width: 574px;
}

#piece-b {
	width: 244px;
}

#piece-c {
	width: 380px;
}

#piece-d {
	width: 574px;
}

#piece-e {
	width: 400px;
}

#piece-f {
	width: 279px;
}

#piece-g {
	width: 574px;
}

#a {
	width: 574px;
	height: 100px;
}

#b {
	width: 220px;
	height: 150px;
}

#c {
	width: 354px;
	height: 150px;
}

#d {
	width: 574px;
	height: 80px;
}

#e {
	width: 360px;
	height: 60px;
}

#f {
	width: 214px;
	height: 60px;
}

#g {
	width: 574px;
	height: 70px;
}